* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
}

footer {
	color: black;
	z-index: 1;
	height: 5vh;
	width: 100%;
	position: absolute;
	padding: 2px;
}

#kkchocooreo, #milkchocomochacillo, #jcoccino {
	height: 60vh;
	width: 40vw;
}

#darkmocha, #moolatte, #mochasupreme {
	height: 65vh;
	width: 35vw;
}

#landingpage {
	height: 80vh;
}

#banner {
	margin-top:20vh;
}

#misyon, #bisyon {
	letter-spacing: 4px;
}

.jumbotron {
	background: rgba(0,0,0,0.1);
}

#sendemail {
	border-radius: 0;
}

#video-lp {
	position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

.stopfade { 
   opacity: .5;
}

#home, #gallery, #contact{
	background-image: linear-gradient(to right, #8E2DE2 , #4A00E0);
	}

#about {
	background-image: url(../images/about-bg.jpeg);
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		width: auto;
		max-width: 100% ;
		z-index:0;
}	

a:link, a:visited {
	color: white;
	text-decoration: none;
 }

h5 {
	color: black;
}

.navbar {
	width: 100%;
	z-index: 1;
}

.carousel-item {
	width: 100%;
	height: 100vh;
}

#Slide1, #Slide2, #Slide3, #Slide4, #Slide5, #Slide6, #Slide7, #Slide8, #Slide9, #Slide10 {
	height: 100vh;
	width: 100%;
}

#thumbnail1 {
	width: 100%;
	height: 100%
}

#missiontext, #visiontext {
	background: rgba(0,0,0,0.1);
}

.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

/*Tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px) {

	#googlemaps {
		margin-top: 0px;
	}

	#landingpage {
		background-image: url(../images/bg-mb.jpeg);
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		width: auto;
		max-width: 100%;
		height: 100vh;
	}

	#kkchocooreo, #darkmocha, #mochaibc, #moolatte, #milkchocomochacillo, #jcoccino, #mochasupreme, #yardshake, #dometwister, #mochafrappe {
	height: auto;
	width: auto;
	}

	.carousel-item {
	width: 100%;
	height: 50vh;
	}

	#Slide1, #Slide2, #Slide3 {
	height: 50vh;
	width: 100%;
	}
} 

/*Mobile*/
@media only screen and (max-width: 400px) {

	#googlemaps {
		margin-top: 0px;
	}

	#lptext1, #lptext2 {
		font-size: 3em;
	}

	.carousel-item {
	width: 100%;
	height: 35vh;
	}

	#Slide1, #Slide2, #Slide3 {
	height: 35vh;
	width: 100%;
	}

	#landingpage {
		background-image: url(../images/bg-mb.jpeg);
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		width: auto;
		max-width: 100% ;
		height: 100%;
	}

	#about {
	background-image: url(../images/about-img2.jpeg);
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		width: auto;
		height: auto;
		max-width: 100% ;
		z-index:0;
	}	

	footer {
		height: 5vh;
		width: 100%;
		}

	.navbar {
		width: 100%;
		}

		#kkchocooreo, #darkmocha, #mochaibc, #moolatte, #milkchocomochacillo, #jcoccino, #mochasupreme, #yardshake, #dometwister, #mochafrappe {
		height: auto;
		width: auto;
		}

		.card-img-top {
	    width: 100%;
	    height: 100vw;
	    object-fit: cover;
					}
}